# project infrastructure
.quarto/

.Rproj.user
.Rhistory
*.Rproj
desktop.ini

# package folders that should be ignored
/man/

# ignore selected folders anywhere they appear
**/_book/
**/_webpage/
**/_freeze/

**/*_files/
**/old/  
**/site_libs/

# file types
*.csv
*.docx
*.gdoc
*.html
*.mhtml
*.pdf
*.rds
*.vdoc*
*.xls*

# specific files to track despite being gitignored above
!data-raw/plans/frs/extracted_data/frs_extracted_data_v5.xlsm
!data-raw/plans/frs/extracted_data/frs_extracted_data_v6.xlsm

# specific files to ignore even if a rule above does not gitignore it
data-raw/plans/frs/work/reason/Florida FRS model input_djb.R
